.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ece7cf;
  background-image: linear-gradient(#f7e2ec, #ece7cf 10%, #d6e0e9 100%);
  font-family: ,"Segoe Xbox Symbol"


}
.login {
  background-color: white;
  width: 325px;
  height: 250px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  padding: 30px;
  display:flex;
  flex-direction: column;
}
.header {
   margin-top: -10px;

}
.header h2 {
     letter-spacing: 1.2px;
     margin-top: -1px;
     font-weight: 570
}
label p {
  font-size: 12px
}
a {
  text-decoration: none;
  color: #0067b8;
}
input {
  border-color: rgba(0,0,0,.8);
  padding: 6px 10px;
  border-width: 1px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  padding-left: 0;
  outline: none;
}
.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top:10px;
}
.button  {
  color: #fff;
  border-color: #0067b8;
  background-color: #0067b8;
  display: inline-block;
  width: 35%;
}
.sign-in {
  margin-top: 20px;
  width: 345px;
  height: 45px;
  background-color: white;
  padding-left: 40px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  display: flex;
}
#sign {
  font-family: "Segoe UI Webfont";
  font-size: 15px;
  line-height: 16px;
  color: rgb(27,27,27);
  font-weight: 400;
  letter-spacing: 1.5;
  margin-left: 10px;
}
#key {
  align-self: center;
  width: 30px;
  height: 30px;
}
#question {
  width: 16px;
  height: 16px;
  margin-top: 14px;
  margin-left: 5px;
}
#windows-hello {
  display: flex;
}
