.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ece7cf;
  background-image: linear-gradient(#f7e2ec, #ece7cf 10%, #d6e0e9 100%);
  font-family: ,"Segoe Xbox Symbol"


}
.login {
  width: 400px;
  height: 400px;
  padding: 30px;
  display:flex;
  flex-direction: column;
  overflow: hidden;
  color:black;
}
.loginForm {
  height:250px;
  width: 325px;

  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding:33px;
}
.registrationForm {
  height:290px;
  width: 320px;
  margin-top:-380px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding:33px;
}
.sign-in {
  margin-top: 20px;
  width: 355px;
  height: 45px;
  background-color: white;
  padding-left: 40px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  display: flex;
}
.header {
   margin-top: -10px;
}
#username {
  width: 94%;
}
#password {
  width:94%;
}
#password-label {
  letter-spacing: 1.2px;
  font-weight: 700;
  margin-bottom: 10px;
}
#check {
  width:20px;
  height: 20px;
  margin-top: 10px;
}
#forgot {
  margin-top:5px;
  margin-bottom:-20px;
}
span {
  font-family: "Segoe UI Webfont";
  font-size: 15px;
  font-weight: 400;
}
.header h2 {
     letter-spacing: 1.2px;
     margin-top: -1px;
     font-weight: 570
}
label p {
  font-size: 12px
}
a {
  text-decoration: none;
  color: #0067b8;
}
input {
  border-color: rgba(0,0,0,.8);
  padding: 6px 10px;
  border-width: 1px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  padding-left: 0;
  outline: none;
}
.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top:10px;
}
.button  {
  color: #fff;
  border-color: #0067b8;
  background-color: #0067b8;
  display: inline-block;
  width: 35%;
}

#sign {
  font-family: "Segoe UI Webfont";
  font-size: 15px;
  line-height: 16px;
  color: rgb(27,27,27);
  font-weight: 400;
  letter-spacing: 1.5;
  margin-left: 10px;
}
#key {
  align-self: center;
  width: 30px;
  height: 30px;
}
#question {
  width: 16px;
  height: 16px;
  margin-top: 14px;
  margin-left: 5px;
}
#windows-hello {
  display: flex;
}
#windows-hello-password {
  display: flex;
  margin-top:-10px;
}

#windows-hello1 {
  display: flex;
  margin-top: -10px;
}

#loginBtn, #registerBtn {
    transition: all .1s ease;
}
form {
    position: relative;
    transition: all .1s ease;
}
.header p {
  font-size: 12px;
  margin-top: -190px;
  margin-left: 20px;
}
#back {
  display: flex;
  font-size: 14px;
  margin-left:-5px;
  margin-top:-20px;
}
#hold {
  display:flex;
  flex-direction: column;
}
#password {
  margin-top:-3px;
  font-weight: 600;
}
#keep-signed {
  display: flex;
}
#keep-signed-text {
  font-family: "Segoe UI Webfont";
  font-size: 15px;
  margin-top:10px;
  margin-left: 5px;
  font-weight: 200;
}
